**List**

1.List is an ordered sequence of items.

2. we can have diffenrent data types under a list.

*E.g we can have integer, float and string in a same list*

***List Creation***

In [1]:
list1 = [] # empty list

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2 = [1,2,3,4,5] # list of integers

In [4]:
list3 = [10.7,4.7,97.56] # list of float

In [5]:
list4 = ["hello","world"] # list of strings

In [6]:
list5 = [25,[23,24],28,[26,27]] # list of list | Nested  list

In [7]:
list6 = ['Hello',27,6.8,[67,87,95,93],[6.7,'World'],{'hello world'}] # list of all data types | mixed list

In [8]:
len(list6) # Length of list

6

In [9]:
list6[0] #Retrive first element of the list

'Hello'

In [12]:
list6[4][1] #Retrive (first element in)first element of the list

'World'

In [13]:
list6[4][1][2] # We can get any character from the list by using index

'r'

In [14]:
list6[-3] # Negivive indexing

[67, 87, 95, 93]

List Sclicing

In [26]:
list = ['one','two','three','four','five','six','seven','eight','nine','ten']

In [27]:
list[0:3] #Return all items from index 0 to index 3

['one', 'two', 'three']

In [28]:
list[:4]  #Return all items from index 0 to index 4

['one', 'two', 'three', 'four']

In [29]:
list[2:6] #Return all items from index 2 to index 6

['three', 'four', 'five', 'six']

In [30]:
list[-5:-1] #Return all items from index -5 to index -1

['six', 'seven', 'eight', 'nine']

In [31]:
list[:] #Return all items from list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

Add, Remove & Change Items

In [32]:
list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [33]:
list.append('eleven') # Add item at the end of the list

In [34]:
list

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'eleven']

In [35]:
list.insert(0,'zero') # Add item at the specified index

In [36]:
list

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'eleven']

In [37]:
list.remove('eleven') # Remove item from the list
list

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [38]:
list.pop() # Remove item from the list
list

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine']

In [39]:
list.pop(0) # Remove item from the specified index

'zero'

In [40]:
list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [41]:
list[0] = 1
list[1] = 2
list[2] = 3
list[3] = 4
list[4] = 5
list[5] = 6
list[6] = 7
list[7] = 8
list[8] = 9 
# Update item in the list

In [42]:
list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
list.clear() # Remove all items from the list
list

[]

In [44]:
del list # Delete the list
list

list

Copy List

In [45]:
list = ['one','two','three','four','five','six','seven','eight','nine','ten']
listnew = list # Copy the list
listnew

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [46]:
id(list), id(listnew) # Compare the id of the list and listnew
# Both are same

(2247621130688, 2247621130688)

In [47]:
listnew1 = list.copy() # Copy the list
id(list), id(listnew), id(listnew1) # Compare the id of the list and listnew1
# Both are different | From this on it will be different

(2247621130688, 2247621130688, 2247620266496)

In [48]:
list[0] = 1 # Update item in the list
list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [49]:
listnew # The element is updated in both list and listnew

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [50]:
listnew1 # The element is not updated in listnew1
# As the id is different it will not update

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

Join Lists

In [51]:
list1 = ['one','two','three']
list2 = ['four','five','six']
list3 = ['seven','eight','nine']

listnew = list1 + list2 + list3
# Join the lists with + operator
listnew

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [52]:
list1 = ['one',2,'three']
list2 = [4,5,6]
list3 = ['7','eight','nine']

listnew = list1 + list2 + list3
listnew

['one', 2, 'three', 4, 5, 6, '7', 'eight', 'nine']

In [53]:
list1.extend(list2.extend(list3))
# Don't do this extend method
list1

TypeError: 'NoneType' object is not iterable

In [54]:
list1.extend(list2)
# Extend the lists with extend method
list1

['one', 2, 'three', 4, 5, 6, '7', 'eight', 'nine']

List Membership

In [56]:
list = [1,2,3,4,5,6,7,8,9,10]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
1 in list # Check if item is in the list

True

In [58]:
11 in list # Check if item is in the list

False

In [59]:
if 3 in list:
    print("Yes")
else:
    print("No")

Yes

In [60]:
if 11 in list:
    print("Yes")
else:
    print("No")

No

Reverse & Sort List

In [61]:
print(list)
list.reverse() # Reverse the list
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [62]:
list = list[::-1] # Reverse the list
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
list = [45,63,23,7,80,34,17,59,12]
list.sort() # Sort the list
print(list)

[7, 12, 17, 23, 34, 45, 59, 63, 80]

In [64]:
list = [45,63,23,7,80,34,17,59,12]
list.sort(reverse = True) # Reverse the list and sort the list
print(list)

[80, 63, 59, 45, 34, 23, 17, 12, 7]

In [66]:
list = [45,63,23,7,80,34,17,59,12]
sorted(list) # Sort the list and return the sorted list
# But the original list is not changed

[7, 12, 17, 23, 34, 45, 59, 63, 80]

In [67]:
list 
# But the original list is not changed

[45, 63, 23, 7, 80, 34, 17, 59, 12]

Loop through a list

In [69]:
list = [1,2,3,4,5,6,7,8,9,10]

In [70]:
for i in list:
    print(i) 
    # Print all the items in the list

1
2
3
4
5
6
7
8
9
10

In [71]:
for i in enumerate(list):
    print(i) 
# Print all the items in the list with index

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

Count

In [73]:
list = [1,2,2,3,3,3,4,5,5,5]
list

[1, 2, 2, 3, 3, 3, 4, 5, 5, 5]

In [74]:
list.count(2) # Count the number of 2 in the list

2

In [75]:
list.count(5) # Count the number of 5 in the list

3

All & Any

- True : if all elements in the list are true
- False : if any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False

In [79]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,0]
l3 = [16,43,23,65,True,False]

In [77]:
all(l1) # Check if all items in the list are true

True

In [78]:
all(l2) # Check if all items in the list are true

False

In [80]:
all(l3)

False

In [82]:
any(l1) # Check if any item in the list is true

True

In [83]:
any(l2) # Check if any item in the list is true

True

In [84]:
any(l3)

True

In [85]:
l4 = [0,0,False,0,0]

In [87]:
any(l4)

False